{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Background</h3>
            <p>
                I am a Kenyan from Nairobi, currently learning 
                Web Development using Python and Flask
            </p>
        </div>
        <div class="col-md-6">
            <h3>Aspiration</h3>
            <p>
                I look forward to becoming an elite software engineer
            </p>
        </div>
    </div>
{% endblock %}